.advantages {
  margin: 0;
  padding: 0;
  margin-top: -35px;
  text-align: center;
  background-color: #f2f2f2;
}

.advantages::before {
  content: "";
  display: block;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  height: 94px;
}

.advantages__title {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 28.8px;
  color: #283645;
  text-transform: uppercase;
}

.advantages__title:last-of-type {
  margin-top: 36px;
  margin-bottom: 30px;
}

.advantages__list {
  margin: 0;
  padding: 0;
  padding-top: 50px;
  list-style: none;
}

.advantages__item {
  margin: 0 20px;
  margin-bottom: 30px;
}

.advantages__item:last-of-type {
  margin-bottom: 0;
}

.advantages__item:last-of-type::after {
  background-image: url("../img/iphone-screen-mobile@1x.png");
  content: "";
  width: 157px;
  height: 282px;
  margin: 0 auto;
  display: block;
  background-repeat: no-repeat;
}

.advantages__item-title {
  margin: 0;
  margin-bottom: 13px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.advantages__description,
.advantages__analysis-text {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #283645;
}

.advantages__analysis {
  display: none;
}

.advantages__analysis-title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

.advantages__analysis-link {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #d43560;
}

@media (min-width: $tablet-width) {
  .advantages {
    margin-top: 5px;
  }
  .advantages__item-title {
    line-height: 10px;
  }
  .advantages__analysis {
    display: block;
    width: 320px;
    text-align: start;
    margin-left: 300px;
  }
  .advantages__wrapper {
    display: flex;
    justify-content: space-between;
  }
  .advantages__title:last-of-type {
    margin-top: 0;
    padding: 0 135px;
  }
  .advantages__list {
    order: 2;
    width: 320px;
    padding-top: 20px;
  }
  .advantages__wrapper::before {
    background-image: url("../img/iphone-screen-mobile@1x.png");
    content: "";
    width: 157px;
    display: block;
    background-repeat: no-repeat;
  }
  .advantages__item:last-of-type::after {
    content: none;
  }
}

@media (min-width: $desktop-width) {
  .advantages__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .advantages__analysis-title {
    line-height: 30px;
  }
  .advantages__wrapper::before {
    content: none;
  }
  .advantages__item::before {
    background-image: url("../img/iphone-screen-mobile@1x.png");
    content: "";
    width: 157px;
    height: 282px;
    margin: 0 auto;
    margin-bottom: 55px;
    display: block;
    background-repeat: no-repeat;
  }
  .advantages__item-title {
    font-size: 30px;
    line-height: 30px;
    padding: 0 10px;
  }
  .advantages__description {
    font-size: 18px;
    line-height: 30px;
  }
}
