.app__device {
    background-image: url("../../img/bg-back-mobile@1x.jpg")
}

.app__button {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    color: #ffffff;
    text-decoration: none;
}

.app__wrapper {
    background-color: #1d2631;
}

.app__list {
    list-style: none;
}

.app__description {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    color: #ffffff;
}
