.contacts {
  margin-top: 45px;
  text-align: center;
}

.contacts__title,
.contacts__call-description {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 28.8px;
}

.contacts__title {
  color: #283645;
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
}

.contacts__call-description {
  color: #d22856;
  margin: 0;
  padding: 0 15px;
  text-decoration: none;
}

.contacts__call-text {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  color: #283645;

  margin: 0;
  padding: 0;
}

.contacts::after {
  content: "";
  display: block;
  height: 62px;
  background-image: url("../img/bg-triangle-white-footer.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  margin-top: -30px;
}

.contacts__call,
.contacts__email {
  margin-bottom: 25px;
}

.contacts__adress {
  margin-bottom: 40px;
}

.contacts__email .contacts__call-description:hover {
  color: #283645;
  text-decoration: underline;
}

.contacts__email .contacts__call-description:focus {
  opacity: 0.3;
}

.contacts__map {
  margin: 0 auto;
  display: block;
  width: 320px;
  margin-top: -33px;
  overflow: hidden;
  height: 200px;
  z-index: -1;
  position: relative;
}

.contacts__map::before {
  content: "";
  width: 30px;
  height: 30px;
  background-color: #d22856;
  border: 7px solid #ffffff;
  border-radius: 50%;
  display: block;
  position: absolute;
  left: 140px;
  top: 100px;
  z-index: 1;
}

.contacts__map iframe {
  position: relative;
  z-index: 100;
}

.contacts__map img {
  transform: translatey(-68%);
}

@media #{$tablet-widths} {
  .contacts__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .contacts__title {
    font-size: 40px;
    line-height: 48px;
    padding: 0px 110px;
  }
  .contacts::after {
    height: 100px;
  }
}

@media #{$desktop-widths} {
  .contacts::after {
    height: 154px;
  }
  .contacts__title {
    font-size: 50px;
    line-height: 60px;
  }
}
