.contacts__title,
.contacts__call-description {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 28.8px;
}

.contacts__title {
    color: #283645;
}

.contacts__call-description {
    color: #d22856;
}

.contacts__call-text {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
    color: #283645;
}
