.contest {
  margin-top: 17px;
}

.contest__attainment-list {
  margin-top: 43px;
  padding: 0;
  list-style: none;
}

.contest__attainment-list-item,
.contest__app-list-item {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #283645;
}

.contest__submit {
  width: 280px;
  height: 64px;
  border-radius: 5px;
  border: none;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #2aab6d;

  &:hover {
    background-color: #1c9b5e;
  }

  &:focus {
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}

.contest__contacts .contest__title {
  display: none;
}

.contest__title {
  width: 100%;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #d22856;
  text-transform: uppercase;
  text-align: center;
}

.contest__label {
  margin-left: 23px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: #d22856;
  text-transform: uppercase;
}

.contest__letter .contest__label {
  margin-left: 0;
}

.contest__attainment-list-input {
  margin-right: 53px;
}

.contest__app-list-item input {
  margin-right: 47px;
}

.contest__input {
  height: 63px;
  margin-top: 5px;
  position: relative;
}

.contest__input,
.contest__textarea {
  width: 100%;
  padding-left: 20px;
  border: 2px solid #e5e5e5;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #283645;

  &:hover {
    border: 2px solid #283645;
  }

  &:focus {
    border: 2px solid #d22856;
  }
}

.contest__textarea {
  min-height: 199px;
  padding-top: 14px;
  padding-left: 18px;
  margin-top: 16px;
  margin-bottom: 0;
  resize: vertical;
}

.contest__attainment-list-item {
  position: relative;
  margin-bottom: 52px;
}

.contest__app-list-item {
  margin-bottom: 45px;
  position: relative;
}

.contest__contacts-item {
  margin-top: -3px;
  position: relative;
  margin-bottom: 15px;
}

.contest__input--contacts {
  margin-bottom: 17px;
}

.contest__app-list {
  padding: 0;
  list-style: none;
  margin-top: 39px;
}

.contest__full-name-item {
  margin-top: 18px;
}

.contest__full-name-item:last-of-type,
.contest__contacts-item:last-of-type {
  margin-bottom: 0;
}

.contest__full-name,
.contest__contacts,
.contest__attainment,
.contest__app,
.contest__letter {
  margin: 0;
  padding: 0;
  border: none;
}

.contest__wrapper {
  margin-left: -20px;
  margin-right: -20px;
  background-color: #f2f2f2;

  .contest__app,
  .contest__attainment {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.contest__contacts {
  margin-bottom: 26px;
  margin-top: -10px;
}

.contest__full-name,
.contest__wrapper {
  margin-bottom: 40px;
}

.contest__letter {
  margin-bottom: 36px;
}

.contest__letter,
.contest__legend {
  text-align: center;
}

.contest__legend {
  margin: 0;
  padding: 0;
  margin-top: 38px;
}

.contest__legend-text {
  margin: 0;
  margin-top: 31px;
  margin-bottom: 55px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: #283645;
  text-transform: uppercase;

  span {
    display: none;
  }
}

.contest__legend-text sup {
  color: #d22856;
}

.contest__attainment-list-item label::before {
  content: "";
  position: absolute;
  cursor: pointer;
  width: 38px;
  height: 38px;
  background-color: #ffffff;
  left: -1px;
  top: 2px;
  z-index: 120;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 2px solid #e5e5e5;
}

.contest__attainment-list-input:checked + label::after {
  content: "";
  position: absolute;
  cursor: pointer;
  width: 22px;
  height: 11px;
  left: 6px;
  top: 12px;
  z-index: 120;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 2px solid #d43560;
  border-right: none;
  border-top: none;
  transform: rotate(-45deg);
}

.contest__attainment-list-input:not(:disabled):active + label::before {
  border: 2px solid #283645;
}

.contest__attainment-list-input:focus + label::before {
  border: 2px solid #d43560;
}

.contest__app-list-item label::before {
  content: "";
  position: absolute;
  cursor: pointer;
  width: 38px;
  height: 38px;
  background-color: #ffffff;
  left: -1px;
  top: -4px;
  z-index: 120;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.contest__app-radio:checked + label::after {
  content: "";
  position: absolute;
  cursor: pointer;
  width: 16px;
  height: 15px;
  left: 10px;
  top: 8px;
  z-index: 120;
  background-color: #d43560;
  border-radius: 50%;
}

.contest__app-radio:not(:disabled):active + label::before {
  border: 2px solid #283645;
}

.contest__app-radio:focus + label::before {
  border: 2px solid #d43560;
}

@media #{$mobile-widths} {
  .contest {
    margin-top: -47px;
    padding-top: 20px;
    position: relative;
    z-index: 10;
    background-color: #ffffff;
  }

  .contest__attainment .contest__title,
  .contest__app .contest__title {
    padding: 0 20px;
    padding-top: 37px;
  }
}

@media #{$tablet-widths} {
  .contest {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  .contest__wrapper:last-of-type {
    order: 1;
  }

  .contest__contacts {
    order: 2;
    margin-top: 0;

    .contest__title {
      display: block;
      width: 260px;
      margin-left: 180px;
    }
  }

  .contest__wrapper:first-of-type {
    order: 3;
  }

  .contest__letter {
    margin-top: 7px;
    order: 4;

    .contest__title {
      width: 262px;
      margin-left: 180px;
      margin-top: 0;
    }

    textarea {
      min-height: 142px;
      width: 496px;
      margin: 36px auto;
    }
  }

  .contest__legend {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 10px;
    order: 5;
  }

  .contest__full-name-item {
    margin-top: 46px;
  }

  .contest__wrapper {
    background-color: transparent;
  }

  .contest__attainment .contest__title,
  .contest__app .contest__title {
    margin-top: 0;
  }

  .contest__attainment .contest__title {
    width: 436px;
    margin-left: 92px;
  }

  .contest__app .contest__title {
    width: 368px;
    margin-left: 125px;
  }

  .contest__full-name-item .contest__label {
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: baseline;
    margin-left: 0;

    .contest__input {
      margin-left: 20px;
    }
  }

  .contest__contacts,
  .contest__attainment,
  .contest__app,
  .contest__letter {
    border: 2px solid #e5e5e5;
  }

  .contest__contacts-item .contest__label {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 77px;
    margin-top: 37px;
  }

  .contest__contacts-item .contest__label:last-of-type {
    margin-top: 19px;
  }

  .contest__contacts-item:last-of-type {
    margin-bottom: 26px;
  }

  .contest__input--contacts {
    width: 496px;
    margin-left: -20px;
    margin-bottom: 12px;
  }

  .contest__app-list,
  .contest__attainment-list {
    margin-left: 60px;
  }

  .contest__legend-text {
    width: 260px;
    text-align: end;
    margin-top: 0;
  }

  .contest__app {
    margin-top: 20px;
  }

  .contest__app-list {
    margin-top: 48px;
    padding-bottom: 1px;
  }

  .contest__app-list-item input {
    margin-right: 35px;
  }

  .contest__attainment-list-item {
    margin-bottom: 47px;

    input {
      margin-right: 40px;
      margin-top: 14px;
    }
  }

  .contest__wrapper,
  .contest__contacts,
  .contest__letter {
    margin-bottom: 56px;
  }

  .contest__submit {
    width: 300px;
  }

  .contest__label--phone::before {
    content: "";
    position: absolute;
    width: 59px;
    height: 59px;
    background-color: #f2f2f2;
    right: 64px;
    top: 136px;
    z-index: 111;
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  .contest__label--email::before {
    content: "";
    position: absolute;
    width: 59px;
    height: 59px;
    background-color: #f2f2f2;
    right: 64px;
    top: 7px;
    z-index: 111;
    background-image: url("../img/icon-mail.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  .contest__app-list-item:first-of-type label::after {
    left: 10px;
    top: 8px;
  }

  .contest__app-list-item label::before {
    left: -1px;
    top: -4px;
  }

  .contest__attainment-list-item:nth-of-type(1) label::after,
  .contest__attainment-list-item:nth-of-type(2) label::after,
  .contest__attainment-list-item:nth-of-type(5) label::after {
    left: 6px;
    top: 12px;
  }

  .contest__attainment-list-item label::before {
    left: -1px;
    top: 2px;
  }
}

@media #{$desktop-widths} {
  .contest {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
  }

  .contest__full-name {
    width: 435px;
  }

  .contest__full-name-item {
    margin-top: 30px;
  }

  .contest__app {
    margin-top: 40px;

    .contest__title {
      margin-left: 32px;
      margin-right: 32px;
    }
  }

  .contest__app-radio {
    margin-left: 21px;
  }

  .contest__full-name-item--desktop {
    margin-top: 48px;
    margin-bottom: 45px;
  }

  .contest__contacts {
    width: 100%;
    margin-bottom: 60px;

    .contest__title {
      margin-left: 340px;
    }
  }

  .contest__input--contacts {
    width: 375px;
  }

  .contest__contacts-item {
    margin-top: -7px;
  }

  .contest__contacts-item .contest__label:last-of-type {
    margin-left: 90px;
  }

  .contest__contacts-item:last-of-type {
    display: flex;
    margin-bottom: 7px;
  }

  .contest__wrapper:first-of-type,
  .contest__legend {
    width: 100%;
  }

  .contest__attainment .contest__title {
    margin-left: 252px;
  }

  .contest__attainment-list {
    width: 816px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 196px;
    margin: 0 60px;
    margin-top: 25px;
  }

  .contest__attainment-list-item {
    margin-bottom: 21px;
    margin-top: 19px;
    width: 270px;

    input {
      margin-right: 33px;
    }
  }

  .contest__attainment-list-item:nth-of-type(2),
  .contest__attainment-list-item:nth-of-type(4),
  .contest__attainment-list-item:nth-of-type(6) {
    margin-bottom: 59px;
  }

  .contest__attainment-list-item:nth-of-type(1),
  .contest__attainment-list-item:nth-of-type(2) {
    margin-left: 4px;
  }

  .contest__attainment-list-item:nth-of-type(3),
  .contest__attainment-list-item:nth-of-type(4) {
    margin-left: 43px;
  }

  .contest__attainment-list-item:nth-of-type(5),
  .contest__attainment-list-item:nth-of-type(6) {
    margin-left: 25px;
  }

  .contest__letter {
    width: 100%;
    margin-top: 0;

    .contest__title {
      margin-left: 339px;
    }

    .contest__textarea {
      width: 816px;
      min-height: 130px;
      margin: 0 60px;
      margin-top: 35px;
      margin-bottom: 31px;
      padding-top: 15px;
      padding-left: 17px;
    }
  }

  .contest__label--nodesktop {
    display: none;
  }

  .contest__label--desktop {
    display: block;
  }

  .contest__label--phone::before {
    left: 371px;
    top: 44px;
  }

  .contest__label--email::before {
    right: 61px;
    top: 44px;
  }

  .contest__app-radio:checked + label::after {
    left: 26px;
    top: 10px;
  }

  .contest__app-list-item label::before {
    left: 15px;
    top: -2px;
  }

  .contest__legend-text {
    width: 320px;

    span {
      display: inline-block;
    }
  }
}
