.main-nav {
  // font-family: "Open Sans", "Arial", sans-serif;
  // font-size: 18px;
  // font-weight: 700;
  // line-height: 32px;
  // text-transform: uppercase;

  margin: 0 auto;
  // background-color: rgba(0, 0, 0, 0.3);
}

.main-nav__background--closed {
  background: url("../img/iphone-hand-mobile@1x.png") no-repeat left bottom, url("../img/bg-back-mobile@1x.jpg") no-repeat left bottom;
  margin-top: -70px;
  min-height: 462px;

}

.main-nav--nojs .main-nav__background--closed {
  margin-top: -18px;
  background: url("../img/iphone-hand-mobile@1x.png") no-repeat left bottom, url("../img/bg-back-mobile@1x.jpg") no-repeat left bottom;
  min-height: 462px;
}

.main-nav--nojs .main-nav__list {
  display: block;
  background-color: #283645;
}

.main-nav__background--opened {
  margin-top: -18px;
  background: url("../img/iphone-hand-mobile@1x.png") no-repeat left bottom, url("../img/bg-back-mobile@1x.jpg") no-repeat left bottom;
  min-height: 462px;
}

.main-nav__logo-wrapper {
  position: relative;
  background-color: rgba(0,0,0,0.3);
}

.main-nav--nojs .main-nav__logo-wrapper {
  background-color: #283645;
}

.main-nav__logo-wrapper--opened {
  background-color: #283645;
}

.main-nav__toggle {
  position: absolute;
  right: 12px;
  top: 20px;
  background: none;
  border: none;
}

.main-nav__toggle--opened img:first-child {
  display: block;
}

.main-nav__toggle--opened img:last-of-type {
  display: none;
}

.main-nav__toggle--closed img:first-child {
  display: none;
}

.main-nav__toggle--closed img:last-of-type {
  display: block;
}

@media (min-width: $tablet-width) {
  .main-nav__logo-wrapper {

  }
}

@media (min-width: $desktop-width) {
  .main-nav .inner{
    display: flex;
  }
  .main-nav__toggle {
    display: none;
  }
  .main-nav__wrapper {
    flex-grow: 1;
  }
}
