.main-nav {
  // font-family: "Open Sans", "Arial", sans-serif;
  // font-size: 18px;
  // font-weight: 700;
  // line-height: 32px;
  // text-transform: uppercase;
  position: relative;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
}

.main-nav__background--closed {
  background: url("../img/iphone-hand-mobile@1x.png") no-repeat left bottom, url("../img/bg-back-mobile@1x.jpg") no-repeat left bottom;
  margin-top: -70px;
  min-height: 462px;

}

.main-nav__logo {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
  margin-bottom: -18px;
  margin-left: -20px;
  margin-right: -20px;
  text-align: start;
 // border-bottom: 1px solid #000000;
}

.main-nav__logo--opened {
  background-color: #283645;
  box-shadow: 0 2px 0 -1px rgba(255, 255, 255, 0.15), inset 0 -2px 0 -1px black;
}

.main-nav__logo-page {
  margin-left: 20px;
}

.main-nav--nojs .main-nav__background--closed {
  margin-top: -18px;
  background: url("../img/iphone-hand-mobile@1x.png") no-repeat left bottom, url("../img/bg-back-mobile@1x.jpg") no-repeat left bottom;
  min-height: 462px;
}

.main-nav--nojs .main-nav__list {
  display: block;
  background-color: #283645;
}

.main-nav__background--opened {
  margin-top: -18px;
  background: url("../img/iphone-hand-mobile@1x.png") no-repeat left bottom, url("../img/bg-back-mobile@1x.jpg") no-repeat left bottom;
  min-height: 462px;
}

.main-nav__logo-wrapper {
  position: relative;
  // background-color: rgba(0,0,0,0.3);
}

.main-nav--nojs .main-nav__logo-wrapper {
  background-color: #283645;
}

.main-nav__logo-wrapper--opened {
  background-color: #283645;
  padding-left: 20px;
  box-shadow: 0 2px 0 -1px rgba(255, 255, 255, 0.15), inset 0 -2px 0 -1px black;
  margin: 0 -20px;
}

.main-nav__logo-wrapper--opened .main-nav__toggle {
  right: 20px;
}

.main-nav__toggle {
  position: absolute;
  padding: 0;
  right: 20px;
  top: 20px;
  background: none;
  border: none;
}

.main-nav__toggle--opened img:first-child {
  display: block;
}

.main-nav__toggle--opened img:last-of-type {
  display: none;
}

.main-nav__toggle--closed img:first-child {
  display: none;
}

.main-nav__toggle--closed img:last-of-type {
  display: block;
}

@media (min-width: $tablet-width) {
  .main-nav__logo-wrapper {

  }
}

@media (min-width: $desktop-width) {
  .main-nav .center{
    display: flex;
  }
  .main-nav__toggle {
    display: none;
  }
  .main-nav__wrapper {
    flex-grow: 1;
  }
  .main-nav__logo {
    margin-right: 160px;
    margin-top: 23px;
  }
}
