.modal-success__wrapper {
  width: 320px;
  padding: 0;
  margin: 0 auto;
}

.modal-success__title {
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 40px;
  margin-bottom: 25px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.modal-success__text {
  text-align: center;
  margin: 0;
  padding: 0;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #283645;
}

.modal-success__btn {
  width: 280px;
  height: 64px;
  border-radius: 5px;
  border: none;

  margin-top: 40px;
  margin-left: 20px;
  margin-bottom: 50px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #2aab6d;

  &:hover {
    background-color: #1c9b5e;
  }

  &:focus {
    color: rgba(255, 255, 255, 0.3)
  }
}

@media (min-width: $tablet-width) {
  .modal-success {
    width: 460px;
    height: 430px;
    margin: 0 auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
  }
  .modal-success__title {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
  }

  .modal-success__text {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #283645;
  }
  .modal-success__btn-wrapper {
    background-color: #f2f2f2;
    width: 460px;
    margin-left: -70px;
    margin-top: 34px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .modal-success__btn {
    margin-left: 80px;
    width: 300px;
    margin-top: 50px;
  }
}

@media (min-width: $desktop-width) {
  .modal-success {
    width: 780px;
    height: 380px;
  }
  .modal-success__wrapper {
    width: 460px;
  }
  .modal-success__btn-wrapper {
    width: 780px;
    margin-left: -160px;
    margin-top: 40px;
  }
  .modal-success__btn {
    width: 460px;
    margin-left: 160px;
  }
}
