.page-main {
  margin-top: 45px;
}

.page-main__title {
  margin: 0 auto;
  padding: 0;
  width: 320px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 28.8px;
  color: #283645;
  text-align: center;
}

@media #{$mobile-widths} {
  .page-main__title:last-of-type {
    margin-top: 36px;
  }
}

@media #{$tablet-widths} {
  .page-main {
    margin-top: 49px;
  }
  .page-main__title {
    font-size: 40px;
    line-height: 48px;
    width: 660px;
    text-transform: none;
  }
  .page-main__title:last-of-type {
    padding: 0 50px;
  }
}

@media #{$desktop-widths} {
  .page-main {
    margin-top: 65px;
  }
  .photo-page-main {
    margin-top: 91px;
  }
  .page-main__title {
    font-size: 50px;
    line-height: 60px;
    width: 960px;
    text-transform: none;
  }
  .page-main__title:last-of-type {
    padding: 0 120px;
  }
}
