.page-header {
  margin-bottom: 45px;
}

.page-header__wrapper--closed {
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  min-height: 237px;
  margin-top: -126px;
}

.page-header__wrapper--opened,
.main-nav + .page-header__wrapper--nojs {
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  min-height: 237px;
  margin-top: -85px;
}

.page-header__title {
  padding-top: 100px;
  padding-bottom: 55px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 28.8px;
  color: #ffffff;
  text-align: center;
}

.page-header__wrapper--closed .page-header__title,
.page-header__wrapper--nojs .page-header__title {
  padding-top: 140px;
}

@media (min-width: $tablet-width) {
  .page-header__title {
    font-size: 50px;
    line-height: 60px;
    padding-bottom: 80px;
  }
  .page-header__wrapper--closed .page-header__title,
  .page-header__wrapper--nojs .page-header__title {
  padding-top: 160px;
}
}

@media (min-width: $desktop-width) {

}
