.page-footer {
margin-top: 40px;
margin-bottom: 40px;
text-align: center;
}

.page-footer__logo {
  display: block;
  width: 150px;
}

@media #{$mobile-widths} {
  .page-footer--index {
    display: none;
  }
}

@media #{$tablet-widths} {
  .page-footer {
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .page-footer__inner {
    display: flex;
    justify-content: space-between;
  }
  .page-footer--form {
    margin-top: 49px;
  }
}

@media #{$desktop-widths} {
  .page-footer {
    margin-top: 68px;
  }
  .page-footer--photo {
    margin-top: 86px;
  }
  .page-footer--form {
    margin-top: 27px;
  }
}
