.photo-content {
  margin-top: 45px;
}
.photo-content__text {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: #283645;
    width: 280px;
    margin: 0 auto;
    padding: 0 15px;
}
.photo-content__wrapper {
  margin: 0 auto;
}

@media #{$tablet-widths} {
  .photo-content {
    margin-top: 92px;
  }
  .photo-content__text {
    width: 620px;
    font-size: 18px;
    padding: 0 30px;
  }
  .photo-content__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 620px;
    margin: 0 auto;
    margin-top: 47px;
  }
}

@media #{$desktop-widths} {
  .photo-content__text {
    width: 940px;
    padding: 0 150px;
  }
  .photo-content__wrapper {
    width: 940px;
    margin-top: 15px;
  }
}
