.reviews {
  text-align: center;
  position: relative;
  margin-top: 40px;
  padding-bottom: 15px;
}

.reviews__list {
  list-style: none;
  margin: 0 20px;
  padding: 0;
  margin-bottom: 30px;
}

.reviews__title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.reviews__text,
.reviews__description {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: #283645;
}

.reviews__slider-controls {
  display: flex;
  justify-content: space-between;
  width: 62px;
  height: 15px;
  position: absolute;
  left: 50%;
  margin-left: -31px;
}

.reviews__slider-controls-item {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.reviews__slider-controls-item--active {
  border: 2px solid #000000;
}

.reviews__slider-controls-item::before {
  content: "";

  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;

  width: 8px;
  height: 8px;
  margin: -4px;

  background-color: #bec2c7;
  border-radius: 50%;
}

@media (max-width: $mobile-width) {
  .reviews__description {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .reviews__item {
    display: flex;
    flex-direction: column-reverse;
  }
}
