.reviews {
  text-align: center;
  position: relative;
  margin-top: 43px;
  padding-bottom: 15px;
}
.reviews__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.reviews__title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
}

.reviews__text,
.reviews__description {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: #283645;
  margin: 0;
}
.reviews__text {
  padding-top: 14px;
}

.reviews__slider-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65px;
  height: 15px;
  position: absolute;
  left: 50%;
  bottom: -10px;
  margin-left: -32px;
}

.reviews__slider-controls-item {
  width: 8px;
  height: 8px;

  background-color: #bec2c7;
  border-radius: 50%;
  cursor: pointer;
}

.reviews__slider-controls-item--active {
  border: 3px solid #000000;
  width: 12px;
  height: 12px;
  background-color: transparent;
}

@media #{$mobile-widths} {
  .reviews__wrapper {
    margin-bottom: 12px;
  }
  .reviews__description {
    display: none;
  }
}

@media #{$tablet-widths} {
  .reviews {
    margin-top: 110px;
  }
  .reviews__text {
    font-size: 18px;
  }
  .reviews__item {
    display: flex;
    flex-direction: column-reverse;
  }
  .reviews__title {
    font-size: 20px;
    margin-top: 36px;
  }
}

@media #{$desktop-widths} {
  .reviews {
    margin-top: 184px;
  }
  .reviews__slider-controls {
    width: 940px;
    left: inherit;
    top: 45px;
    margin-left: 0;
  }
  .reviews__slider-controls-item{
    width: 30px;
    height: 30px;
    border: 2px solid #bec2c7;
    border-radius: inherit;
    border-bottom: none;
    border-left: none;
    background: transparent;
  }

  .reviews__list::before {
    content: "";
    display: block;
    position: absolute;
    width: 80px;
    height: 65px;
    top: -50%;
    left: 47.4%;
    background-image: url("../img/icon-quotes.svg");
    background-repeat: no-repeat;
  }

  .reviews__slider-controls-item:first-of-type {
    transform: rotate(-135deg);
    margin-left: 6px;
    margin-bottom: 6px;
  }
  .reviews__slider-controls-item:nth-of-type(2) {
    transform: rotate(45deg);
    margin-right: 6px;
    margin-bottom: 6px;
  }
  .reviews__slider-controls-item:last-of-type {
    display: none;
  }
  .reviews__title {
    font-size: 24px;
    margin-top: 36px;
  }
  .reviews__text,
  .reviews__description {
    padding: 0 100px;
    font-size: 18px;
  }
  .reviews__description {
    margin-top: 3px;
  }
}
