.site-list {
  list-style: none;
  text-align: center;
  padding: 0;
  // margin: 0 auto;
  margin: 0 -20px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;
}

.site-list--closed {
  display: none;
}

.site-list--opened {
  display: block;
  background-color: #283645;
}

.site-list__link {
  text-decoration: none;
  color: #ffffff;
  padding-top: 16px;
  display: block;
}

@media (max-width: $nodesktop-width) {
  .site-list__item {
    // margin: 0 -20px;
    //box-shadow: 0 -2px 0 -1px black, inset 0 2px 0 -1px rgba(255, 255, 255, 0.15);
    box-shadow: 0 2px 0 -1px rgba(255, 255, 255, 0.15), inset 0 -2px 0 -1px black;
    height: 65px;
  }
  .site-list__item:first-of-type {
    margin-top: 18px;
  }
  .site-list--opened .site-list__item:last-of-type {
  box-shadow: 0 2px 0 -1px black;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    display: flex;
    flex-grow: 1;
    margin: 0;
    align-items: center;
    height: 110px;
    justify-content: space-between;
  }
  .site-list__link {
    padding-top: 0;
  }
}
