.user-panorama {
  margin-top: 50px;
}

.user-photo__item-wrapper,
.user-panorama__item-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  width: 280px;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 25px;
  padding-left: 20px;
  margin-bottom: 20px;
  background-color: #f2f2f2;
}

.user-panorama__item {
  margin: 0 auto;
  display: block;
}

.user-photo__item {
  display: block;
  margin: 0 auto;
}

.user-photo__nikname,
.user-panorama__nikname {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #283645;
}

// .user-photo__wrapper {
//   text-align: center;
//   margin: 0 auto;
// }

.user-photo__public-time,
.user-panorama__public-time {
  margin: 0;
  padding: 0;
  padding-left: 5px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  color: #283645;
}

.user-photo__description,
.user-panorama__description {
  margin: 0;
  padding: 0;
  width: 280px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: start;
  color: #283645;
}

.user-photo__cool,
.user-panorama__cool {
  margin: 0;
  padding: 0;
  padding-left: 5px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  color: #d22856;
}

.user-photo__like,
.user-panorama__like {
  margin: 0;
  margin-left: -5px;
  padding: 0;
  border: none;
  width: 25px;
  background-color: transparent;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  // .user-photo__wrapper {
  //   display: flex;
  //   flex-wrap: wrap;
  //   justify-content: space-between;
  //   width: 620px;
  //   margin: 0 auto;
  // }

  .user-panorama__item-wrapper{
    width: 620px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-left: 30px;

    .user-panorama__cool {
      margin-left: auto;
    }
    .user-panorama__description {
      width: 100%;
      order: 2;
      margin-right: 40px;
    }
    .user-panorama__like {
      order: 1;
      margin-right: 25px;
      margin-left: 15px;
    }
  }

  .user-photo__item-wrapper {
    margin-left: 0;
    min-height: 155px;
    padding-left: 30px;

    .user-photo__like {
      order: 1;
      margin-left: auto;
      margin-right: 25px;
    }
    .user-photo__cool {
      padding: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .user-panorama__item-wrapper {
    width: 940px;
  }
}
