.user-post {
  margin-top: 40px;
  text-align: center;
}

.user-post__photo {
  margin-top: 20px;
}

.user-post__inner {
  background-color: #f2f2f2;
  margin-top: 40px;
}

.user-post__title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: #283645;
  width: 280px;
  margin: 0 auto;
}

.user-post__setting {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-right: -20px;
  margin-left: -20px;
  padding: 0 55px;
  padding-bottom: 70px;
  border-bottom: 1px solid #dddfe0;
}

.user-post__wrapper {
  margin-top: 40px;
}

.user-post__button {
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  background: transparent;
}

.user-post__button-post {
  margin-top: 40px;
  margin-bottom: 10px;
  width: 280px;
  height: 55px;
  border: 2px solid #d22856;
  border-radius: 50px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  color: #d22856;
  background-color: transparent;

  &:hover {
    background-color: #d22856;
    color: #ffffff;
  }

  &:focus {
    color: rgba(255, 255, 255, 0.3)
  }
}

.user-post__button-cancel {
  width: 280px;
  height: 55px;
  border: 2px solid #283645;
  border-radius: 50px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  color: #283645;
  margin-bottom: 40px;
  opacity: 0.1;
  background-color: transparent;

  &:hover {
    opacity: 0.3;
  }

  &:focus {
    background-color: rgba(40, 54, 69, 0.3)
  }
}

.user-post__button-contrast,
.user-post__button-fill,
.user-post__button-crop {
  position: relative;
}

@media (max-width: $mobile-width) {
  .user-post__button-contrast .range-filter {
    margin-left: -177px;
  }

  .user-post__button-fill .range-filter {
    margin-left: -96px;
  }

  .user-post__button-fill .range-filter,
  .user-post__button-contrast .range-filter {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .user-post__title {
    width: 620px;
    font-size: 18px;
  }
  .user-post__setting {
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
    align-items: start;
    border: none;
  }

  .user-post__photo {
    margin-bottom: 55px;
    margin-top: 55px;
  }

  .user-post__form {
    display: flex;
    justify-content: space-between;
  }
  .user-post__wrapper {
    display: flex;
    flex-direction: column;
    width: 280px;
    margin-top: 65px;
  }

  .user-post__button {
    width: 22px;
    height: 22px;
  }

  .user-post__setting-button {
    border-bottom: 1px solid #dddfe0;
    width: 100%;
    text-align: start;
    margin-bottom: 25px;
  }

  .user-post__button-post {
    margin-bottom: 25px;
  }

  .user-post__button-post,
  .user-post__button-cancel {
    width: 260px;
  }

  .user-post__button-contrast,
  .user-post__button-fill,
  .user-post__button-crop {
    margin-bottom: 20px;
  }
}

@media (min-width: $desktop-width) {
  .user-post__inner {
    background-color: transparent;
  }

  .user-post__form {
    background-color: #f2f2f2;
  }

  .user-post__photo {
    margin-top: 55px;
    margin-left: 80px;
    margin-bottom: 55px;
  }

  .user-post__button {
    width: auto;
    height: auto;
  }

  .user-post__wrapper {
    width: 410px;
    margin-right: 60px;
    margin-top: 55px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  .user-post__button-post,
  .user-post__button-cancel {
    width: 185px;
    margin: 0;
    margin-top: 130px;
    margin-bottom: 60px;
  }

  .user-post__setting-button {
    margin-bottom: 15px;
  }

  .user-post__button-contrast,
  .user-post__button-fill,
  .user-post__button-crop {
    margin-bottom: 5px;
  }

  .user-post__button-contrast input,
  .user-post__button-fill input,
  .user-post__button-crop input {
    bottom: 20px;
    width: 290px;
    margin-left: 95px;
  }
}
