html {
  box-sizing: border-box;
}

*,*::before,*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: #000;
}

img {
  max-width: 100%;
  height: auto;
}

.center {
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}

@media #{$tablet-widths} {
  .center {
    width: 660px;
  }
}

@media #{$desktop-widths} {
  .center {
    width: 960px;
    padding: 0 10px;
  }
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  display: inline-block;
  vertical-align: top;
  padding: 16px 16px 15px;
  background-color: transparent;
  border-width: 3px;
  border-style: solid;
  border-color: #000;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  color: #000;
  text-align: center;
  text-decoration: none;

  &--white {
    border-color: #fff;
    color: #fff;

    &:hover {
      background-color: #fff;
      box-shadow: 0 5px 7px rgba(0, 0, 0, 0.75);
      color: $color-pink;
    }

    &:active {
      background-color: #fff;
      box-shadow: none;
      color: $color-pink-opacity;
    }
  }

  &--pink {
    border-color: $color-pink;
    color: $color-pink;

    &:hover {
      background-color: $color-pink;
      color: #fff;
    }

    &:active {
      background-color: $color-pink;
      color: rgba(255, 255, 255, 0.3);
    }
  }

  &--disable {
    border-color: $color-darkblue;
    color: $color-darkblue;
    opacity: 0.1;

    &:hover {
      opacity: 0.3;
    }

    &:active {
      background-color: $color-darkblue;
      color: rgba(255, 255, 255, 0.3);
      opacity: 0.3;
    }
  }
}
